.class{
    color: aliceblue;
}
.class2{
    background-color: aliceblue;
}
<<<<<<< HEAD
/* comente en el de angel*/
=======

.xd{
    font-family: 'Courier New', Courier, monospace;
}
>>>>>>> 7317dce2f714874b7e067650639531311fd11421
